.box-contacts {
  background-color: #ffffff;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  font-size: 14px;
  font-size: 0.875rem;
  margin-bottom: 20px;
  min-height: 220px;
  padding: 30px 15px;
  text-align: center;
}

.box-contacts h2 {
  font-size: 21px;
  font-size: 1.3125rem;
  font-weight: 400;
  margin: 10px 0 10px 0;
}

.box-contacts > i {
  background: #d00078;
  background: linear-gradient(to bottom, #d00078, #d00078);
  background: -webkit-linear-gradient(top, #d00078, #d00078);
  -webkit-background-clip: text;
  font-size: 46px;
  font-size: 2.875rem;
  -webkit-text-fill-color: transparent;
}

.box-contacts a {
  color: #444444;
}

.box-contacts a:hover {
  color: #1a1a1a;
  text-decoration: underline;
}

.box-contacts small {
  color: #777777;
  display: block;
}
