//
// @type component
// @block modal
// -----------------------------------------------

.es-modal {
  align-content: streesh;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-timing-function: ease-in;
  backface-visibility: hidden;
  background: rgba(51, 51, 51, .7);
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: auto;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1500;
}

//
// @modifier xs
// -----------------------------------------------

.es-modal--xs {
  #modal {
    max-width: 400px;
  }
}

//
// @modifier sm
// -----------------------------------------------

.es-modal--sm {
  #es-modal-dialog {
    max-width: 600px;
  }
}

//
// @modifier md
// -----------------------------------------------

.es-modal--md {
  #es-modal-dialog {
    max-width: 800px;
  }
}

//
// @modifier lg
// -----------------------------------------------

.es-modal--lg {
  #es-modal-dialog {
    width: 1000px;
  }
}

//
// @modifier xl
// -----------------------------------------------

.es-modal--xl {
  #es-modal-dialog {
    width: 1200px;
  }
}

//
// @modifier fullscreen
// -----------------------------------------------

.es-modal--fullscreen {
  #es-modal-dialog {
    width: 90vw;
  }

  .es-modal__body {
    height: 90vh;
    max-height: 90vh;
  }
}

//
// @element close
// -----------------------------------------------

.es-modal__close {
  position: absolute;

  .es-modal--xs &,
  .es-modal--sm &,
  .es-modal--md &,
  .es-modal--lg &,
  .es-modal--xl & {
    right: 13px;
    top: 13px;
  }

  .es-modal--error &,
  .es-modal--info &,
  .es-modal--success &,
  .es-modal--warning & {
    top: 24px;
  }

  .es-modal--fullscreen & {
    right: -19px;
    top: -19px;
  }
}

//
// @element accent
// -----------------------------------------------

.es-modal__accent {
  background-color: get-color("white");
  height: 10px;
}

//
// @element header
// -----------------------------------------------

.es-modal__header {
  background: get-color("white");
  padding: 16px 24px;
}

//
// @element headline
// -----------------------------------------------

.es-modal__headline {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

//
// @element body
// -----------------------------------------------

.es-modal__body {
  background: get-color("white");
  max-height: 60vh;
  overflow: auto;
  padding: 0 24px 16px 24px;
}

//
// @element controls
// -----------------------------------------------

.es-modal__controls {
  align-items: center;
  background: get-color("white");
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
}

//
// @element control-group
// -----------------------------------------------

.es-modal__control-group {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

//
// @modifier borders
// -----------------------------------------------

.es-modal--borders {
  .es-modal__header {
    border-bottom: 1px solid get-color("neutral", 300);
  }

  .es-modal__controls {
    border-top: 1px solid get-color("neutral", 300);
  }

  .es-modal__body {
    padding: 24px;
  }
}

//
// @modifier error
// -----------------------------------------------

.es-modal--error {
  .es-modal__accent {
    background: get-color("error", 500);
  }
}

//
// @modifier warning
// -----------------------------------------------

.es-modal--warning {
  .es-modal__accent {
    background: get-color("warning", 500);
  }
}

//
// @modifier success
// -----------------------------------------------

.es-modal--success {
  .es-modal__accent {
    background: get-color("success", 500);
  }
}

//
// @modifier info
// -----------------------------------------------

.es-modal--info {
  .es-modal__accent {
    background: get-color("info", 500);
  }
}

//
// @component Reservation Modal
//

.es-modal .show-details {
  display: none;
}
